code/mysimbdpDATAINGEST.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>5a9fb4fa-0186-1000-18e8-7d584115fbc6</groupId>
    <name>mysimbdpDATAINGEST</name>
    <snippet>
        <connections>
            <id>05162baf-7701-3578-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>609ec290-84a0-32e0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>a265f12e-153f-3321-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8fa8965a-9915-3d1d-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>76529008-b3aa-3140-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>d8c4f480-0be5-3f8f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d33dcaf2-492b-36f7-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>78b63587-29a9-3fe6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>76529008-b3aa-3140-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d842c648-ac07-39e3-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>d8c4f480-0be5-3f8f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>splits</selectedRelationships>
            <source>
                <groupId>69906152-31e8-335f-0000-000000000000</groupId>
                <id>609ec290-84a0-32e0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>d7ca9af5-9b06-3d69-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-cassandra-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Cassandra Contact Points</key>
                    <value>
                        <name>Cassandra Contact Points</name>
                    </value>
                </entry>
                <entry>
                    <key>Client Auth</key>
                    <value>
                        <name>Client Auth</name>
                    </value>
                </entry>
                <entry>
                    <key>Consistency Level</key>
                    <value>
                        <name>Consistency Level</name>
                    </value>
                </entry>
                <entry>
                    <key>Compression Type</key>
                    <value>
                        <name>Compression Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Keyspace</key>
                    <value>
                        <name>Keyspace</name>
                    </value>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>
                        <name>Username</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>read-timeout-ms</key>
                    <value>
                        <name>read-timeout-ms</name>
                    </value>
                </entry>
                <entry>
                    <key>connect-timeout-ms</key>
                    <value>
                        <name>connect-timeout-ms</name>
                    </value>
                </entry>
            </descriptors>
            <name>atAalto</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Cassandra Contact Points</key>
                    <value>10.100.10.196:9042,10.100.10.196:9043,10.100.10.196:9044</value>
                </entry>
                <entry>
                    <key>Client Auth</key>
                    <value>REQUIRED</value>
                </entry>
                <entry>
                    <key>Consistency Level</key>
                    <value>ONE</value>
                </entry>
                <entry>
                    <key>Compression Type</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>Keyspace</key>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>cassandra</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>read-timeout-ms</key>
                </entry>
                <entry>
                    <key>connect-timeout-ms</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.service.CassandraSessionProvider</type>
        </controllerServices>
        <labels>
            <id>00048068-5f4d-374e-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <height>328.0</height>
            <label>Get csv file with a HTTP request, split csv lines and extract values from the lines by validating them with a regex</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>1024.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>bd94ed08-f44e-3b1a-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>320.0</y>
            </position>
            <height>184.0</height>
            <label>With the values extracted as attributes of a flowfile, build a cql INSERT statement in a corresponding table of a tenant.
Then, with connected Cassandra cluster insert data into it.</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6e3ff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>1024.0</width>
            <zIndex>0</zIndex>
        </labels>
        <processors>
            <id>609ec290-84a0-32e0-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <position>
                <x>656.0</x>
                <y>24.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Line Split Count</key>
                        <value>
                            <name>Line Split Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Fragment Size</key>
                        <value>
                            <name>Maximum Fragment Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header Line Count</key>
                        <value>
                            <name>Header Line Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header Line Marker Characters</key>
                        <value>
                            <name>Header Line Marker Characters</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remove Trailing Newlines</key>
                        <value>
                            <name>Remove Trailing Newlines</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Line Split Count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Maximum Fragment Size</key>
                    </entry>
                    <entry>
                        <key>Header Line Count</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Header Line Marker Characters</key>
                    </entry>
                    <entry>
                        <key>Remove Trailing Newlines</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>0</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitText - Get lines of a CSV file</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
            <id>76529008-b3aa-3140-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <position>
                <x>656.0</x>
                <y>360.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s:^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>insert into data.ddata (time, readable_time, acceleration, acceleration_x, acceleration_y, acceleration_z, battery, humidity, pressure, temperature, dev_id) values ('${column.1}', '${column.2}', ${column.3}, ${column.4}, ${column.5}, ${column.6}, ${column.7}, ${column.8}, ${column.9}, ${column.10}, '${column.12}')</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <retryCount>0</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Build INSERT Statement with values</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>78b63587-29a9-3fe6-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>360.0</y>
            </position>
            <bundle>
                <artifact>nifi-cassandra-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>cassandra-connection-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.cassandra.CassandraSessionProviderService</identifiesControllerService>
                            <name>cassandra-connection-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cassandra Contact Points</key>
                        <value>
                            <name>Cassandra Contact Points</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keyspace</key>
                        <value>
                            <name>Keyspace</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client Auth</key>
                        <value>
                            <name>Client Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consistency Level</key>
                        <value>
                            <name>Consistency Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Type</key>
                        <value>
                            <name>Compression Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putcql-stmt-cache-size</key>
                        <value>
                            <name>putcql-stmt-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>cassandra-connection-provider</key>
                        <value>d7ca9af5-9b06-3d69-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Cassandra Contact Points</key>
                    </entry>
                    <entry>
                        <key>Keyspace</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Client Auth</key>
                        <value>REQUIRED</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Consistency Level</key>
                        <value>ONE</value>
                    </entry>
                    <entry>
                        <key>Compression Type</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>putcql-stmt-cache-size</key>
                        <value>0</value>
                    </entry>
                </properties>
                <retryCount>0</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutCassandraQL</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#6febb9</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.cassandra.PutCassandraQL</type>
        </processors>
        <processors>
            <id>a265f12e-153f-3321-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>30.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://iot.fvh.fi/downloads/tortoise/ruuvitag-20180410T000000Z.csv</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>RANDOM</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                </properties>
                <retryCount>0</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeHTTP</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>d8c4f480-0be5-3f8f-0000-000000000000</id>
            <parentGroupId>69906152-31e8-335f-0000-000000000000</parentGroupId>
            <position>
                <x>656.0</x>
                <y>192.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>
                            <name>extract-text-enable-named-groups</name>
                        </value>
                    </entry>
                    <entry>
                        <key>column</key>
                        <value>
                            <name>column</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>column</key>
                        <value>([^;]*?),([^;]*?),([^;]*?),([^;]*?),([^;]*?),([^;]*?),([^;]*?),([^;]*?),([^;]*?),([^;]*?),([^;]*?)(.+)</value>
                    </entry>
                </properties>
                <retryCount>0</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExtractText - Get Values from lines</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
    </snippet>
    <timestamp>02/16/2023 14:42:17 UTC</timestamp>
</template>
